* {
  border:1px solid red;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #c1b7cc;
  position: fixed; 
  margin: 0%;
}

nav {
  display: flex;
  flex-direction: row;
  width:  96.5vw;
  height:  20vh;
  background-color: #f1ebf3;
  margin: .5% .5% .5% 1%;
  border-radius: 9%;
  align-items: center;
}

.nav-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16vw;
  height: 17vh;
  margin: .75%  1% 1% 1%;
  background-color: #e3d0f8;
  border-radius: 9%;
}

h1 {
  font-size: 3.7vw;
  margin-left: 10%;
}

h2 {
  font-size: 1vw;
  margin-left: 10%;
}

h3 {
  font-size: .8vw;
  margin-left: 10%;
}

h4 {
  font-size: 1vw;
  margin-left: 10%;
}

main {
  display: flex;
  width: 100vw;
  height: 80vh;  
}

.filter-panel {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 18vw;
  height: 73vh;
  margin: .5% 1% .5% 1%; 
  border-radius: 9%;
  background-color: #f1ebf3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-panel {
  display: flex;
  flex-wrap: wrap;
  width: 76.5vw;
  height: 73vh;
  margin: .5% .5% .5% 1%;
  border-radius: 3%;
  background-color: #f1ebf3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.booked {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8vw;
  width: 16vw;
  height: 18vh;
  margin: 1% 1% 1% 1%;
  position: relative;
  border: 0%;
  background-color: #c1b7cc;
}